In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 45.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=6f054e75921482a5eb5197ae0974878484046362cc9ce06ad6d498c3fb05e75a
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

***Przewidywanie wzięcia pożyczki. ***

Celem projektu jest zastosowanie modeli  klasyfikacji (binarnej) do  przewidzenia czy pożyczka zostanie udzielona danemu klientowi z danymi parametrami wniosku. 

Zmienna celu (wypłacenie pożyczki): ***Disbursed ***


---



***Wymogi:*** 

● Zmienna LoggedIn nie może być uwzględniona w modelowaniu - należy ją od razu wyrzucić ze  zbioru.  
● Nie usuwamy żadnych obserwacji - braki danych uzupełniamy w jakiś sposób.  
● Wszelkie nieoczywiste ​ przekształcenia danych należy opatrzyć uzasadnieniem​ dlaczego  dokonujemy tego przekształcenia (np. robimy wykres i uzasadniamy wzięci logarytmu ze  zmiennej tym, że rozkład jest skośny).  
● Należy wykorzystać przynajmniej 3 metody klasyfikacji.  
● Należy uwzględnić optymalizację modeli/pipelinów.  
● Projekt musi być zakończony przejrzystym porównaniem przetestowanych rozwiązań  (modeli/pipelinów) ​ w postaci tabeli​ , gdzie jeden wiersz opisuje jedno rozwiązanie i jego  wynik.

Link do danych:  https://raw.githubusercontent.com/saimadhu-polamuri/DataHakthon3X/master/dataSet/Train.csv

Opis danych (najdokładniejszy jaki istnieje):  https://discuss.analyticsvidhya.com/t/hackathon-3-x-predict-customer-worth-for-happy-customer-bank/3802

**IMPORT BIBLIOTEK**

In [2]:
import pyspark
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import functions as f
from pyspark.ml import Pipeline

spark = SparkSession.builder.appName('my_app').getOrCreate()

In [4]:
from pyspark.ml.linalg import Vectors
from pyspark.ml import feature

In [5]:
spark

***Import Danych, Przekształcenia***

In [7]:
csv_df = spark.read.csv('/content/Train.csv', header=True, inferSchema=True)

In [8]:
csv_df.show()

+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+--------+---------+
|         ID|Gender|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Filled_Form|Device_Type|Var2|Source|Var4|LoggedIn|Disbursed|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+--------+---------+
|ID000002C20|Female|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   G|  S122|   1|       0|        0|
|ID000004E40|  Male|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|          null|            6762.9|          N|Web-browser|   G|  S122|   3|       0|        0|
|ID000007H20|  Male|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|         null|          null|              null|          N|Web-browser|   B|  S143|   1|       0|        0|
|ID000008I30|  Male|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|         null|          null|              null|          N|Web-browser|   B|  S143|   3|       0|        0|
|ID000009J40|  Male|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|         null|          null|              null|          N|Web-browser|   B|  S134|   3|       1|        0|
|ID000010K00|  Male|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|          N|Web-browser|   B|  S143|   3|       1|        0|
|ID000011L10|Female| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S133|   1|       0|        0|
|ID000012M20|  Male|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|         null|          null|              null|          N|Web-browser|   B|  S159|   3|       0|        0|
|ID000013N30|  Male|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|          Y|     Mobile|   C|  S122|   5|       0|        0|
|ID000014O40|Female|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|          N|Web-browser|   B|  S133|   1|       0|        0|
|ID000016Q10|  Male|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|          N|Web-browser|   B|  S133|   4|       0|        0|
|ID000018S30|Female|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S122|   1|       0|        0|
|ID000019T40|Female|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S133|   1|       0|        0|
|ID000021V10|  Male|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|          N|Web-browser|   B|  S133|   4|       0|        0|
|ID000022W20|Female|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S151|   1|       0|        0|
|ID000023X30|  Male|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|         null|          null|              null|          N|Web-browser|   B|  S159|   3|       0|        0|
|ID000024Y40|  Male|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|          N|Web-browser|   E|  S122|   1|       1|        0|
|ID000025Z00|Female|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S122|   1|       0|        0|
|ID000027B20|Female|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   E|  S133|   1|       0|        0|
|ID000028C30|  Male|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|         null|          null|              null|          N|Web-browser|   E|  S133|   3|       0|        0|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+--------+---------+
only showing top 20 rows

Wyrzucenie ze zbioru zmiennej **LoggedIn**

In [9]:
tmp = csv_df.drop('LoggedIn')
tmp.show()

+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
|         ID|Gender|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Filled_Form|Device_Type|Var2|Source|Var4|Disbursed|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
|ID000002C20|Female|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   G|  S122|   1|        0|
|ID000004E40|  Male|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|          null|            6762.9|          N|Web-browser|   G|  S122|   3|        0|
|ID000007H20|  Male|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|         null|          null|              null|          N|Web-browser|   B|  S143|   1|        0|
|ID000008I30|  Male|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|         null|          null|              null|          N|Web-browser|   B|  S143|   3|        0|
|ID000009J40|  Male|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|         null|          null|              null|          N|Web-browser|   B|  S134|   3|        0|
|ID000010K00|  Male|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|          N|Web-browser|   B|  S143|   3|        0|
|ID000011L10|Female| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S133|   1|        0|
|ID000012M20|  Male|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|         null|          null|              null|          N|Web-browser|   B|  S159|   3|        0|
|ID000013N30|  Male|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|          Y|     Mobile|   C|  S122|   5|        0|
|ID000014O40|Female|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|          N|Web-browser|   B|  S133|   1|        0|
|ID000016Q10|  Male|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|          N|Web-browser|   B|  S133|   4|        0|
|ID000018S30|Female|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S122|   1|        0|
|ID000019T40|Female|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S133|   1|        0|
|ID000021V10|  Male|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|          N|Web-browser|   B|  S133|   4|        0|
|ID000022W20|Female|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S151|   1|        0|
|ID000023X30|  Male|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|         null|          null|              null|          N|Web-browser|   B|  S159|   3|        0|
|ID000024Y40|  Male|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|          N|Web-browser|   E|  S122|   1|        0|
|ID000025Z00|Female|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   B|  S122|   1|        0|
|ID000027B20|Female|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                 null|                 null|         null|          null|              null|          N|Web-browser|   E|  S133|   1|        0|
|ID000028C30|  Male|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|         null|          null|              null|          N|Web-browser|   E|  S133|   3|        0|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
only showing top 20 rows

In [10]:
tmp.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Monthly_Income: integer (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Lead_Creation_Date: string (nullable = true)
 |-- Loan_Amount_Applied: integer (nullable = true)
 |-- Loan_Tenure_Applied: integer (nullable = true)
 |-- Existing_EMI: double (nullable = true)
 |-- Employer_Name: string (nullable = true)
 |-- Salary_Account: string (nullable = true)
 |-- Mobile_Verified: string (nullable = true)
 |-- Var5: integer (nullable = true)
 |-- Var1: string (nullable = true)
 |-- Loan_Amount_Submitted: integer (nullable = true)
 |-- Loan_Tenure_Submitted: integer (nullable = true)
 |-- Interest_Rate: double (nullable = true)
 |-- Processing_Fee: integer (nullable = true)
 |-- EMI_Loan_Submitted: double (nullable = true)
 |-- Filled_Form: string (nullable = true)
 |-- Device_Type: string (nullable = true)
 |-- Var2: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Var4: integer (nullable = true)
 |-- Disbursed: integer (nullable = true)

In [11]:
tmp.describe().show()

+-------+-----------+------+--------------+------------------+---------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+---------------+-----------------+-----+---------------------+---------------------+------------------+------------------+------------------+-----------+-----------+-----+------+------------------+--------------------+
|summary|         ID|Gender|          City|    Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|      Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|             Var5| Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|     Interest_Rate|    Processing_Fee|EMI_Loan_Submitted|Filled_Form|Device_Type| Var2|Source|              Var4|           Disbursed|
+-------+-----------+------+--------------+------------------+---------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+---------------+-----------------+-----+---------------------+---------------------+------------------+------------------+------------------+-----------+-----------+-----+------+------------------+--------------------+
|  count|      79246| 79246|         78282|             79246|    79246|             79246|              79221|              79221|             79221|               79221|               68328|          79246|            79246|79246|                47490|                47490|             25021|             24718|             25021|      79246|      79246|79246| 79246|             79246|               79246|
|   mean|       null|  null|          null| 59255.52109885673|     null|              null|   229024.090380076| 2.1266962042892668|3718.7572368437663|1.3691139934105264E7|                null|           null|4.974307851500392| null|   393144.66203411244|   3.9073910296904613|19.070010391271232|5116.1838336434985|10890.549720234945|       null|       null| null|  null|2.9309491961739393|0.014940817202130075|
| stddev|       null|  null|          null|2253203.0619137273|     null|              null| 353681.77878127067| 2.0128009620098775| 41617.82292983821| 8.040038041974229E8|                null|           null|5.685844213064531| null|    304852.0558775845|   1.1777584777331047| 5.606696030960237|  4718.95779977444| 7364.274346728912|       null|       null| null|  null|  1.70335227483729| 0.12131683686151994|
|    min|ID000002C20|Female|        ADIPUR|                 0|01-Apr-57|         01-Jul-15|                  0|                  0|               0.0|                    |Abhyuday Co-op Ba...|              N|                0| HAVC|                50000|                    1|             11.99|               200|           1176.41|          N|     Mobile|    A|  S122|                 0|                   0|
|    max|ID113672A20|  Male|sri ganganagar|         444554443|31-Oct-97|         31-May-15|           10000000|                 10|             1.0E7|������������ ����...|            Yes Bank|              Y|               18| HVYS|              3000000|                    6|              37.0|             50000|         135564.48|          Y|Web-browser|    G|  S162|                 7|                   1|
+-------+-----------+------+--------------+------------------+---------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+---------------+-----------------+-----+---------------------+---------------------+------------------+------------------+------------------+-----------+-----------+-----+------+------------------+--------------------+

In [12]:
# zmieniamy Null na 0

tmp = tmp.fillna(0)
tmp.show()

+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
|         ID|Gender|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Filled_Form|Device_Type|Var2|Source|Var4|Disbursed|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
|ID000002C20|Female|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   G|  S122|   1|        0|
|ID000004E40|  Male|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|             0|            6762.9|          N|Web-browser|   G|  S122|   3|        0|
|ID000007H20|  Male|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|          0.0|             0|               0.0|          N|Web-browser|   B|  S143|   1|        0|
|ID000008I30|  Male|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|          0.0|             0|               0.0|          N|Web-browser|   B|  S143|   3|        0|
|ID000009J40|  Male|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|          0.0|             0|               0.0|          N|Web-browser|   B|  S134|   3|        0|
|ID000010K00|  Male|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|          N|Web-browser|   B|  S143|   3|        0|
|ID000011L10|Female| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S133|   1|        0|
|ID000012M20|  Male|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|          0.0|             0|               0.0|          N|Web-browser|   B|  S159|   3|        0|
|ID000013N30|  Male|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|          Y|     Mobile|   C|  S122|   5|        0|
|ID000014O40|Female|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|          N|Web-browser|   B|  S133|   1|        0|
|ID000016Q10|  Male|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|          N|Web-browser|   B|  S133|   4|        0|
|ID000018S30|Female|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S122|   1|        0|
|ID000019T40|Female|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S133|   1|        0|
|ID000021V10|  Male|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|          N|Web-browser|   B|  S133|   4|        0|
|ID000022W20|Female|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S151|   1|        0|
|ID000023X30|  Male|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|          0.0|             0|               0.0|          N|Web-browser|   B|  S159|   3|        0|
|ID000024Y40|  Male|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|          N|Web-browser|   E|  S122|   1|        0|
|ID000025Z00|Female|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S122|   1|        0|
|ID000027B20|Female|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   E|  S133|   1|        0|
|ID000028C30|  Male|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|          0.0|             0|               0.0|          N|Web-browser|   E|  S133|   3|        0|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+
only showing top 20 rows

In [13]:
tmp.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Monthly_Income: integer (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Lead_Creation_Date: string (nullable = true)
 |-- Loan_Amount_Applied: integer (nullable = true)
 |-- Loan_Tenure_Applied: integer (nullable = true)
 |-- Existing_EMI: double (nullable = false)
 |-- Employer_Name: string (nullable = true)
 |-- Salary_Account: string (nullable = true)
 |-- Mobile_Verified: string (nullable = true)
 |-- Var5: integer (nullable = true)
 |-- Var1: string (nullable = true)
 |-- Loan_Amount_Submitted: integer (nullable = true)
 |-- Loan_Tenure_Submitted: integer (nullable = true)
 |-- Interest_Rate: double (nullable = false)
 |-- Processing_Fee: integer (nullable = true)
 |-- EMI_Loan_Submitted: double (nullable = false)
 |-- Filled_Form: string (nullable = true)
 |-- Device_Type: string (nullable = true)
 |-- Var2: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Var4: integer (nullable = true)
 |-- Disbursed: integer (nullable = true)

In [14]:
tmp.groupBy("Disbursed").count().show()

+---------+-----+
|Disbursed|count|
+---------+-----+
|        1| 1184|
|        0|78062|
+---------+-----+

In [15]:
#tmp.toPandas()

In [16]:
# Liczba pożyczek
tmp.select((tmp["Disbursed"]).alias("cln")).describe().show()

+-------+--------------------+
|summary|                 cln|
+-------+--------------------+
|  count|               79246|
|   mean|0.014940817202130075|
| stddev| 0.12131683686151994|
|    min|                   0|
|    max|                   1|
+-------+--------------------+

In [17]:
tmp.createOrReplaceTempView("tmp")

In [18]:
# max/min/avg udzielonej pożyczki

spark.sql('select max(Loan_Amount_Applied) as Max_Loan_Amount, min(Loan_Amount_Applied) as Min_Loan_Amount, avg(Loan_Amount_Applied) as Avg_Loan_Amout \
      from tmp \
      where Disbursed == 1').show()

+---------------+---------------+------------------+
|Max_Loan_Amount|Min_Loan_Amount|    Avg_Loan_Amout|
+---------------+---------------+------------------+
|        3000000|              0|321355.58699324325|
+---------------+---------------+------------------+

In [19]:
# sprawdzenie unikalności danych
tmp.groupBy("Device_Type").count().show()
tmp.groupBy("Gender").count().show()
tmp.groupBy("Filled_Form").count().show()
tmp.groupBy("Source").count().show()
tmp.groupBy("Mobile_Verified").count().show()

+-----------+-----+
|Device_Type|count|
+-----------+-----+
|Web-browser|58804|
|     Mobile|20442|
+-----------+-----+

+------+-----+
|Gender|count|
+------+-----+
|Female|33638|
|  Male|45608|
+------+-----+

+-----------+-----+
|Filled_Form|count|
+-----------+-----+
|          Y|17705|
|          N|61541|
+-----------+-----+

+------+-----+
|Source|count|
+------+-----+
|  S155|    4|
|  S143| 4332|
|  S158|  208|
|  S151|  720|
|  S162|   36|
|  S136|    3|
|  S157|  650|
|  S160|   11|
|  S159| 5599|
|  S161|  769|
|  S129|    3|
|  S135|    2|
|  S125|    1|
|  S156|  308|
|  S154|    1|
|  S150|   10|
|  S138|    3|
|  S122|30793|
|  S133|29885|
|  S123|   73|
+------+-----+
only showing top 20 rows

+---------------+-----+
|Mobile_Verified|count|
+---------------+-----+
|              Y|51506|
|              N|27740|
+---------------+-----+

Konwersja danych

In [20]:
from pyspark.sql.functions import col, when

In [75]:
tmp1 = tmp.select(col("*"), when(col("Gender") == "Male",1)
      .when(col("Gender") == "Female",0).alias("new_gender"), when(col("Filled_Form") == "Y",1)
      .when(col("Filled_Form") == "N",0).alias("new_Filled_Form"), when(col("Device_Type") == "Web-browser",1)
      .when(col("Device_Type") == "Mobile",0).alias("new_Device_Type"), when(col("Mobile_Verified") == "Y",1)
      .when(col("Mobile_Verified") == "N",0).alias("new_Mobile_Verified"))
tmp1.show()

+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+----------+---------------+---------------+-------------------+
|         ID|Gender|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Filled_Form|Device_Type|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+----------+---------------+---------------+-------------------+
|ID000002C20|Female|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   G|  S122|   1|        0|         0|              0|              1|                  0|
|ID000004E40|  Male|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|             0|            6762.9|          N|Web-browser|   G|  S122|   3|        0|         1|              0|              1|                  1|
|ID000007H20|  Male|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|          0.0|             0|               0.0|          N|Web-browser|   B|  S143|   1|        0|         1|              0|              1|                  1|
|ID000008I30|  Male|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|          0.0|             0|               0.0|          N|Web-browser|   B|  S143|   3|        0|         1|              0|              1|                  1|
|ID000009J40|  Male|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|          0.0|             0|               0.0|          N|Web-browser|   B|  S134|   3|        0|         1|              0|              1|                  1|
|ID000010K00|  Male|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|          N|Web-browser|   B|  S143|   3|        0|         1|              0|              1|                  1|
|ID000011L10|Female| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S133|   1|        0|         0|              0|              1|                  0|
|ID000012M20|  Male|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|          0.0|             0|               0.0|          N|Web-browser|   B|  S159|   3|        0|         1|              0|              1|                  1|
|ID000013N30|  Male|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|          Y|     Mobile|   C|  S122|   5|        0|         1|              1|              0|                  1|
|ID000014O40|Female|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|          N|Web-browser|   B|  S133|   1|        0|         0|              0|              1|                  1|
|ID000016Q10|  Male|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|          N|Web-browser|   B|  S133|   4|        0|         1|              0|              1|                  1|
|ID000018S30|Female|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S122|   1|        0|         0|              0|              1|                  0|
|ID000019T40|Female|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S133|   1|        0|         0|              0|              1|                  0|
|ID000021V10|  Male|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|          N|Web-browser|   B|  S133|   4|        0|         1|              0|              1|                  1|
|ID000022W20|Female|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S151|   1|        0|         0|              0|              1|                  0|
|ID000023X30|  Male|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|          0.0|             0|               0.0|          N|Web-browser|   B|  S159|   3|        0|         1|              0|              1|                  1|
|ID000024Y40|  Male|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|          N|Web-browser|   E|  S122|   1|        0|         1|              0|              1|                  1|
|ID000025Z00|Female|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   B|  S122|   1|        0|         0|              0|              1|                  0|
|ID000027B20|Female|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|          N|Web-browser|   E|  S133|   1|        0|         0|              0|              1|                  0|
|ID000028C30|  Male|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|          0.0|             0|               0.0|          N|Web-browser|   E|  S133|   3|        0|         1|              0|              1|                  1|
+-----------+------+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+-----------+-----------+----+------+----+---------+----------+---------------+---------------+-------------------+
only showing top 20 rows

In [76]:
tmp2 = tmp1.drop("Gender", "Mobile_Veified", "Device_Type", "ID", "Filled_Form")
tmp2.show()

+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   1|        0|         0|              0|              1|                  0|
|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|             0|            6762.9|   G|  S122|   3|        0|         1|              0|              1|                  1|
|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|          0.0|             0|               0.0|   B|  S143|   1|        0|         1|              0|              1|                  1|
|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|          0.0|             0|               0.0|   B|  S143|   3|        0|         1|              0|              1|                  1|
|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|          0.0|             0|               0.0|   B|  S134|   3|        0|         1|              0|              1|                  1|
|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|   B|  S143|   3|        0|         1|              0|              1|                  1|
| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|          0.0|             0|               0.0|   B|  S159|   3|        0|         1|              0|              1|                  1|
|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|   C|  S122|   5|        0|         1|              1|              0|                  1|
|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|   B|  S133|   1|        0|         0|              0|              1|                  1|
|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|   B|  S133|   4|        0|         1|              0|              1|                  1|
|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S122|   1|        0|         0|              0|              1|                  0|
|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|   B|  S133|   4|        0|         1|              0|              1|                  1|
|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S151|   1|        0|         0|              0|              1|                  0|
|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|          0.0|             0|               0.0|   B|  S159|   3|        0|         1|              0|              1|                  1|
|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|   E|  S122|   1|        0|         1|              0|              1|                  1|
|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S122|   1|        0|         0|              0|              1|                  0|
|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   E|  S133|   1|        0|         0|              0|              1|                  0|
|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|          0.0|             0|               0.0|   E|  S133|   3|        0|         1|              0|              1|                  1|
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
only showing top 20 rows

In [77]:
tmp2.select("Employer_Name", "Disbursed").groupBy("Employer_Name").sum().orderBy(f.desc("sum(Disbursed)")).show()

+--------------------+--------------+
|       Employer_Name|sum(Disbursed)|
+--------------------+--------------+
|TATA CONSULTANCY ...|            20|
|ACCENTURE SERVICE...|            10|
|COGNIZANT TECHNOL...|             9|
|      INDIAN RAILWAY|             7|
|             GENPACT|             7|
|HCL TECHNOLOGIES LTD|             7|
|  HCL AVITAS PVT LTD|             5|
|           CIPLA LTD|             5|
|ERICSSON INDIA GL...|             4|
|              OTHERS|             4|
|HSBC ELECTRONIC D...|             4|
|   IDEA CELLULAR LTD|             4|
|                   0|             4|
|TCS AND ASSOCIATE...|             4|
|TYPE SLOWLY FOR A...|             4|
|CAPGEMINI INDIA P...|             4|
|     IBM CORPORATION|             4|
|IBM GLOBAL SERVIC...|             4|
|    ABC AND SONS LTD|             3|
|      HCL COMNET LTD|             3|
+--------------------+--------------+
only showing top 20 rows

In [78]:
tmp2 = tmp2.fillna(0)
tmp2.show()

+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|       City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|      Delhi|         20000|23-May-78|         15-May-15|             300000|                  5|         0.0|             CYBOSOL|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   1|        0|         0|              0|              1|                  0|
|     Mumbai|         35000|07-Oct-85|         04-May-15|             200000|                  2|         0.0|TATA CONSULTANCY ...|          ICICI Bank|              Y|  13|HBXA|               200000|                    2|        13.25|             0|            6762.9|   G|  S122|   3|        0|         1|              0|              1|                  1|
|  Panchkula|         22500|10-Oct-81|         19-May-15|             600000|                  4|         0.0|ALCHEMIST HOSPITA...| State Bank of India|              Y|   0|HBXX|               450000|                    4|          0.0|             0|               0.0|   B|  S143|   1|        0|         1|              0|              1|                  1|
|    Saharsa|         35000|30-Nov-87|         09-May-15|            1000000|                  5|         0.0|    BIHAR GOVERNMENT| State Bank of India|              Y|  10|HBXX|               920000|                    5|          0.0|             0|               0.0|   B|  S143|   3|        0|         1|              0|              1|                  1|
|  Bengaluru|        100000|17-Feb-84|         20-May-15|             500000|                  2|     25000.0|GLOBAL EDGE SOFTWARE|           HDFC Bank|              Y|  17|HBXX|               500000|                    2|          0.0|             0|               0.0|   B|  S134|   3|        0|         1|              0|              1|                  1|
|  Bengaluru|         45000|21-Apr-82|         20-May-15|             300000|                  5|     15000.0|COGNIZANT TECHNOL...|                HSBC|              Y|  17|HAXM|               300000|                    5|        13.99|          1500|           6978.92|   B|  S143|   3|        0|         1|              0|              1|                  1|
| Sindhudurg|         70000|23-Oct-87|         01-May-15|                  6|                  5|         0.0|CARNIVAL CRUISE LINE|            Yes Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|  Bengaluru|         20000|25-Jul-75|         20-May-15|             200000|                  5|      2597.0|GOLDEN TULIP FLOR...|                null|              Y|   3|HBXX|               200000|                    5|          0.0|             0|               0.0|   B|  S159|   3|        0|         1|              0|              1|                  1|
|      Kochi|         75000|26-Jan-72|         02-May-15|                  0|                  0|         0.0|        SIIS PVT LTD| State Bank of India|              Y|  13|HAXB|              1300000|                    5|        14.85|         26000|          30824.65|   C|  S122|   5|        0|         1|              1|              0|                  1|
|     Mumbai|         30000|12-Sep-89|         03-May-15|             300000|                  3|         0.0|      SOUNDCLOUD.COM|          Kotak Bank|              Y|   0|HBXC|               300000|                    3|        18.25|          1500|          10883.38|   B|  S133|   1|        0|         0|              0|              1|                  1|
|     Mumbai|         25000|01-Jan-76|         02-May-15|            1000000|                  5|         0.0|       KRISHNA KUMAR|Indian Overseas Bank|              Y|  11|HBXC|               660000|                    5|         20.0|          6600|          17485.96|   B|  S133|   4|        0|         1|              0|              1|                  1|
|      Surat|         25000|13-Oct-89|         02-May-15|             140000|                  4|         0.0|S D JAIN MODERN S...|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S122|   1|        0|         0|              0|              1|                  0|
|       Pune|         24000|22-May-90|         02-May-15|             500000|                  4|         0.0|K.E.M. HOSPITAL R...| Bank of Maharasthra|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|Bhubaneswar|         27000|24-Jun-82|         09-May-15|             200000|                  5|      4600.0|GI STAFFING SERVI...| State Bank of India|              Y|  11|HBXD|               200000|                    5|         18.0|          4500|           5078.69|   B|  S133|   4|        0|         1|              0|              1|                  1|
|     Howrah|         28000|09-Feb-89|         13-May-15|             100000|                  1|      1200.0|MCX STOCK EXCHANG...|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S151|   1|        0|         0|              0|              1|                  0|
|    Chennai|         42000|08-May-82|         05-May-15|             500000|                  3|         0.0|  SMEC INDIA PVT LTD| State Bank of India|              Y|  14|HBXX|               500000|                    3|          0.0|             0|               0.0|   B|  S159|   3|        0|         1|              0|              1|                  1|
|   Ludhiana|         28994|11-Oct-85|         08-May-15|             300000|                  5|      2550.0|  UNIPARTS INDIA LTD|          Kotak Bank|              Y|   0|HBXH|               300000|                    5|         15.5|          6000|           7215.96|   E|  S122|   1|        0|         1|              0|              1|                  1|
|      Delhi|         20000|06-Jan-90|         01-May-15|             100000|                  5|         0.0|   INTEC CAPITAL LTD|           HDFC Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S122|   1|        0|         0|              0|              1|                  0|
|  Bengaluru|         33000|14-Jul-76|         24-May-15|             500000|                  5|      7000.0|         N RAVIKUMAR|           Axis Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   E|  S133|   1|        0|         0|              0|              1|                  0|
|  Panchkula|         31500|29-Aug-82|         01-May-15|             500000|                  5|     10000.0|S P SINGLA CONSTR...|           Axis Bank|              Y|  12|HBXX|               450000|                    5|          0.0|             0|               0.0|   E|  S133|   3|        0|         1|              0|              1|                  1|
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
only showing top 20 rows

In [79]:
df_t, df_e = tmp2.randomSplit([0.7, 0.3], 42)

In [80]:
df_t.show()

+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|    City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|
+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
|    null|         25000|08-Jul-77|         16-Jun-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|
|    null|         41667|10-Jan-86|         16-Jun-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|
|    null|         75000|27-Oct-88|         19-May-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|
|    null|         75000|27-Oct-88|         19-May-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|
|    null|         75000|27-Oct-88|         19-May-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|
|  ADIPUR|         10000|09-Oct-94|         21-Jun-15|             100000|                  1|         0.0|EVEREST SHIPPING ...|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|
|  ADIPUR|         12000|10-Apr-92|         07-May-15|              50000|                  2|         0.0|    WELSPUN CORP LTD|          ICICI Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S143|   1|        0|         0|              0|              1|                  0|
|  ADIPUR|         22000|17-Apr-93|         02-May-15|             300000|                  3|         0.0|    WELSPUN CORP LTD|          ICICI Bank|              Y|   3|HBXX|               300000|                    3|          0.0|             0|               0.0|   B|  S122|   3|        0|         1|              0|              1|                  1|
|  AHMEDB|         10000|17-Aug-75|         27-Jun-15|            1000000|                  0|      7000.0|               DHRUV| State Bank of India|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S157|   1|        0|         0|              0|              1|                  0|
|   ANJAR|         80000|14-Apr-85|         14-Jun-15|             100000|                  3|     33000.0|COGNIZANT INDIA P...|           Axis Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|  Abohar|         51230|18-Sep-63|         26-Jun-15|             500000|                  5|      9000.0|        RAM CHANDER |         Andhra Bank|              Y|   8|HBXX|               500000|                    5|          0.0|             0|               0.0|   B|  S133|   3|        0|         1|              0|              1|                  1|
|Adilabad|          4000|29-Jan-95|         23-Jun-15|             300000|                  3|         0.0|               SAGAR|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|Adilabad|         10000|08-Jun-91|         22-Jun-15|            1000000|                  5|      5000.0|STATE GOVT EMPLOYEES|State Bank of Hyd...|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|
|Adilabad|         12500|01-Aug-84|         12-Jun-15|             300000|                  5|         0.0|          B. BHASKAR|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|
|Adilabad|         20000|08-Dec-82|         09-May-15|             300000|                  3|      4000.0|SUPERVISION AND A...|                null|              Y|   3|HBXX|               210000|                    3|          0.0|             0|               0.0|   B|  S133|   3|        0|         1|              0|              1|                  1|
|Adilabad|         20000|16-Jun-85|         23-Jun-15|             200000|                  2|      5000.0|    K. SHRAVAN KUMAR|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|
|Adilabad|         20000|16-Jun-85|         24-Jun-15|             100000|                  1|      5000.0|    K. SHRAVAN KUMAR|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|
|Adilabad|         48965|07-Feb-88|         02-Jun-15|             200000|                  1|         0.0|VERIZON DATA SERV...|           HDFC Bank|              Y|  11|HAXA|               200000|                    1|        13.99|          1980|          17956.48|   B|  S143|   5|        0|         0|              1|              1|                  1|
|Adilabad|         48965|07-Feb-88|         31-May-15|                  0|                  1|         0.0|VERIZON DATA SERV...|           HDFC Bank|              Y|  11|HAXA|               150000|                    1|        13.99|          1485|          13467.36|   B|  S122|   5|        0|         0|              1|              1|                  1|
|Adilabad|         50000|08-Dec-88|         20-May-15|             100000|                  2|         0.0|HYUNDAI  ENGINEER...|          ICICI Bank|              Y|  11|HBXC|               100000|                    2|        16.25|          1000|           4908.26|   B|  S137|   5|        0|         1|              1|              1|                  1|
+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+
only showing top 20 rows

In [81]:
tmp2.printSchema()

root
 |-- City: string (nullable = true)
 |-- Monthly_Income: integer (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Lead_Creation_Date: string (nullable = true)
 |-- Loan_Amount_Applied: integer (nullable = true)
 |-- Loan_Tenure_Applied: integer (nullable = true)
 |-- Existing_EMI: double (nullable = false)
 |-- Employer_Name: string (nullable = true)
 |-- Salary_Account: string (nullable = true)
 |-- Mobile_Verified: string (nullable = true)
 |-- Var5: integer (nullable = true)
 |-- Var1: string (nullable = true)
 |-- Loan_Amount_Submitted: integer (nullable = true)
 |-- Loan_Tenure_Submitted: integer (nullable = true)
 |-- Interest_Rate: double (nullable = false)
 |-- Processing_Fee: integer (nullable = true)
 |-- EMI_Loan_Submitted: double (nullable = false)
 |-- Var2: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Var4: integer (nullable = true)
 |-- Disbursed: integer (nullable = true)
 |-- new_gender: integer (nullable = true)
 |-- new_Filled_Form: integer (nullable = true)
 |-- new_Device_Type: integer (nullable = true)
 |-- new_Mobile_Verified: integer (nullable = true)

In [82]:
tmp2.show(3, vertical=True)

-RECORD 0-------------------------------------
 City                  | Delhi
 Monthly_Income        | 20000
 DOB                   | 23-May-78
 Lead_Creation_Date    | 15-May-15
 Loan_Amount_Applied   | 300000
 Loan_Tenure_Applied   | 5
 Existing_EMI          | 0.0
 Employer_Name         | CYBOSOL
 Salary_Account        | HDFC Bank
 Mobile_Verified       | N
 Var5                  | 0
 Var1                  | HBXX
 Loan_Amount_Submitted | 0
 Loan_Tenure_Submitted | 0
 Interest_Rate         | 0.0
 Processing_Fee        | 0
 EMI_Loan_Submitted    | 0.0
 Var2                  | G
 Source                | S122
 Var4                  | 1
 Disbursed             | 0
 new_gender            | 0
 new_Filled_Form       | 0
 new_Device_Type       | 1
 new_Mobile_Verified   | 0
-RECORD 1-------------------------------------
 City                  | Mumbai
 Monthly_Income        | 35000
 DOB                   | 07-Oct-85
 Lead_Creation_Date    | 04-May-15
 Loan_Amount_Applied   | 200000
 Loan_Tenure_Applied   | 2
 Existing_EMI          | 0.0
 Employer_Name         | TATA CONSULTANCY ...
 Salary_Account        | ICICI Bank
 Mobile_Verified       | Y
 Var5                  | 13
 Var1                  | HBXA
 Loan_Amount_Submitted | 200000
 Loan_Tenure_Submitted | 2
 Interest_Rate         | 13.25
 Processing_Fee        | 0
 EMI_Loan_Submitted    | 6762.9
 Var2                  | G
 Source                | S122
 Var4                  | 3
 Disbursed             | 0
 new_gender            | 1
 new_Filled_Form       | 0
 new_Device_Type       | 1
 new_Mobile_Verified   | 1
-RECORD 2-------------------------------------
 City                  | Panchkula
 Monthly_Income        | 22500
 DOB                   | 10-Oct-81
 Lead_Creation_Date    | 19-May-15
 Loan_Amount_Applied   | 600000
 Loan_Tenure_Applied   | 4
 Existing_EMI          | 0.0
 Employer_Name         | ALCHEMIST HOSPITA...
 Salary_Account        | State Bank of India
 Mobile_Verified       | Y
 Var5                  | 0
 Var1                  | HBXX
 Loan_Amount_Submitted | 450000
 Loan_Tenure_Submitted | 4
 Interest_Rate         | 0.0
 Processing_Fee        | 0
 EMI_Loan_Submitted    | 0.0
 Var2                  | B
 Source                | S143
 Var4                  | 1
 Disbursed             | 0
 new_gender            | 1
 new_Filled_Form       | 0
 new_Device_Type       | 1
 new_Mobile_Verified   | 1
only showing top 3 rows

In [83]:
formula = ("Disbursed ~ new_gender + new_Device_Type + new_Mobile_Verified + Var1 + new_Filled_Form + Var2 + Source +"
                              "Monthly_Income + Loan_Amount_Applied + Loan_Tenure_Applied")
rf = feature.RFormula(formula=formula, featuresCol='featuresFull')

In [84]:
rfModel = rf.fit(tmp2)

In [85]:
tmp3 = rfModel.transform(tmp2)
tmp3.show(truncate=False)

+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------------------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+-----------------------------------------------------------------------------+-----+
|City       |Monthly_Income|DOB      |Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|Employer_Name                               |Salary_Account      |Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|featuresFull                                                                 |label|
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------------------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+-----------------------------------------------------------------------------+-----+
|Delhi      |20000         |23-May-78|15-May-15         |300000             |5                  |0.0         |CYBOSOL                                     |HDFC Bank           |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |G   |S122  |1   |0        |0         |0              |1              |0                  |(60,[1,3,23,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,300000.0,5.0])             |0.0  |
|Mumbai     |35000         |07-Oct-85|04-May-15         |200000             |2                  |0.0         |TATA CONSULTANCY SERVICES LTD (TCS)         |ICICI Bank          |Y              |13  |HBXA|200000               |2                    |13.25        |0             |6762.9            |G   |S122  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,9,23,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,200000.0,2.0]) |0.0  |
|Panchkula  |22500         |10-Oct-81|19-May-15         |600000             |4                  |0.0         |ALCHEMIST HOSPITALS LTD                     |State Bank of India |Y              |0   |HBXX|450000               |4                    |0.0          |0             |0.0               |B   |S143  |1   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,22500.0,600000.0,4.0]) |0.0  |
|Saharsa    |35000         |30-Nov-87|09-May-15         |1000000            |5                  |0.0         |BIHAR GOVERNMENT                            |State Bank of India |Y              |10  |HBXX|920000               |5                    |0.0          |0             |0.0               |B   |S143  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,1000000.0,5.0])|0.0  |
|Bengaluru  |100000        |17-Feb-84|20-May-15         |500000             |2                  |25000.0     |GLOBAL EDGE SOFTWARE                        |HDFC Bank           |Y              |17  |HBXX|500000               |2                    |0.0          |0             |0.0               |B   |S134  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,22,34,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,100000.0,500000.0,2.0])|0.0  |
|Bengaluru  |45000         |21-Apr-82|20-May-15         |300000             |5                  |15000.0     |COGNIZANT TECHNOLOGY SOLUTIONS INDIA PVT LTD|HSBC                |Y              |17  |HAXM|300000               |5                    |13.99        |1500          |6978.92           |B   |S143  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,15,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,45000.0,300000.0,5.0])|0.0  |
|Sindhudurg |70000         |23-Oct-87|01-May-15         |6                  |5                  |0.0         |CARNIVAL CRUISE LINE                        |Yes Bank            |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |B   |S133  |1   |0        |0         |0              |1              |0                  |(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,70000.0,6.0,5.0])                  |0.0  |
|Bengaluru  |20000         |25-Jul-75|20-May-15         |200000             |5                  |2597.0      |GOLDEN TULIP FLORITECH PVT. LTD             |null                |Y              |3   |HBXX|200000               |5                    |0.0          |0             |0.0               |B   |S159  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,20000.0,200000.0,5.0]) |0.0  |
|Kochi      |75000         |26-Jan-72|02-May-15         |0                  |0                  |0.0         |SIIS PVT LTD                                |State Bank of India |Y              |13  |HAXB|1300000              |5                    |14.85        |26000         |30824.65          |C   |S122  |5   |0        |1         |1              |0              |1                  |(60,[0,2,7,21,24,28,57],[1.0,1.0,1.0,1.0,1.0,1.0,75000.0])                   |0.0  |
|Mumbai     |30000         |12-Sep-89|03-May-15         |300000             |3                  |0.0         |SOUNDCLOUD.COM                              |Kotak Bank          |Y              |0   |HBXC|300000               |3                    |18.25        |1500          |10883.38          |B   |S133  |1   |0        |0         |0              |1              |1                  |(60,[1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,30000.0,300000.0,3.0])       |0.0  |
|Mumbai     |25000         |01-Jan-76|02-May-15         |1000000            |5                  |0.0         |KRISHNA KUMAR                               |Indian Overseas Bank|Y              |11  |HBXC|660000               |5                    |20.0         |6600          |17485.96          |B   |S133  |4   |0        |1         |0              |1              |1                  |(60,[0,1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,25000.0,1000000.0,5.0])|0.0  |
|Surat      |25000         |13-Oct-89|02-May-15         |140000             |4                  |0.0         |S D JAIN MODERN SCHOOL                      |null                |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |B   |S122  |1   |0        |0         |0              |1              |0                  |(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,25000.0,140000.0,4.0])             |0.0  |
|Pune       |24000         |22-May-90|02-May-15         |500000             |4                  |0.0         |K.E.M. HOSPITAL RESEARCH CENTRE, PUNE       |Bank of Maharasthra |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |B   |S133  |1   |0        |0         |0              |1              |0                  |(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,24000.0,500000.0,4.0])             |0.0  |
|Bhubaneswar|27000         |24-Jun-82|09-May-15         |200000             |5                  |4600.0      |GI STAFFING SERVICES PVT LTD                |State Bank of India |Y              |11  |HBXD|200000               |5                    |18.0         |4500          |5078.69           |B   |S133  |4   |0        |1         |0              |1              |1                  |(60,[0,1,2,8,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,27000.0,200000.0,5.0]) |0.0  |
|Howrah     |28000         |09-Feb-89|13-May-15         |100000             |1                  |1200.0      |MCX STOCK EXCHANGE LTD                      |HDFC Bank           |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |B   |S151  |1   |0        |0         |0              |1              |0                  |(60,[1,3,22,36,57,58,59],[1.0,1.0,1.0,1.0,28000.0,100000.0,1.0])             |0.0  |
|Chennai    |42000         |08-May-82|05-May-15         |500000             |3                  |0.0         |SMEC INDIA PVT LTD                          |State Bank of India |Y              |14  |HBXX|500000               |3                    |0.0          |0             |0.0               |B   |S159  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,42000.0,500000.0,3.0]) |0.0  |
|Ludhiana   |28994         |11-Oct-85|08-May-15         |300000             |5                  |2550.0      |UNIPARTS INDIA LTD                          |Kotak Bank          |Y              |0   |HBXH|300000               |5                    |15.5         |6000          |7215.96           |E   |S122  |1   |0        |1         |0              |1              |1                  |(60,[0,1,2,11,25,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,28994.0,300000.0,5.0])|0.0  |
|Delhi      |20000         |06-Jan-90|01-May-15         |100000             |5                  |0.0         |INTEC CAPITAL LTD                           |HDFC Bank           |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |B   |S122  |1   |0        |0         |0              |1              |0                  |(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,100000.0,5.0])             |0.0  |
|Bengaluru  |33000         |14-Jul-76|24-May-15         |500000             |5                  |7000.0      |N RAVIKUMAR                                 |Axis Bank           |N              |0   |HBXX|0                    |0                    |0.0          |0             |0.0               |E   |S133  |1   |0        |0         |0              |1              |0                  |(60,[1,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,33000.0,500000.0,5.0])             |0.0  |
|Panchkula  |31500         |29-Aug-82|01-May-15         |500000             |5                  |10000.0     |S P SINGLA CONSTRUCTION PVT LTD             |Axis Bank           |Y              |12  |HBXX|450000               |5                    |0.0          |0             |0.0               |E   |S133  |3   |0        |1         |0              |1              |1                  |(60,[0,1,2,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,31500.0,500000.0,5.0]) |0.0  |
+-----------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------------------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+-----------------------------------------------------------------------------+-----+
only showing top 20 rows

In [88]:
#Skalowanie
scaler = feature.StandardScaler(inputCol="featuresFull", outputCol="featuresScal")

In [89]:
scalerModel = scaler.fit(tmp3)

In [90]:
tmp3.select("featuresFull").show(truncate=False)
scalerModel.transform(tmp3).select("featuresScal").show(truncate=False)

+-----------------------------------------------------------------------------+
|featuresFull                                                                 |
+-----------------------------------------------------------------------------+
|(60,[1,3,23,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,300000.0,5.0])             |
|(60,[0,1,2,9,23,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,200000.0,2.0]) |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,22500.0,600000.0,4.0]) |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,1000000.0,5.0])|
|(60,[0,1,2,3,22,34,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,100000.0,500000.0,2.0])|
|(60,[0,1,2,15,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,45000.0,300000.0,5.0])|
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,70000.0,6.0,5.0])                  |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,20000.0,200000.0,5.0]) |
|(60,[0,2,7,21,24,28,57],[1.0,1.0,1.0,1.0,1.0,1.0,75000.0])                   |
|(60,[1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,30000.0,300000.0,3.0])       |
|(60,[0,1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,25000.0,1000000.0,5.0])|
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,25000.0,140000.0,4.0])             |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,24000.0,500000.0,4.0])             |
|(60,[0,1,2,8,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,27000.0,200000.0,5.0]) |
|(60,[1,3,22,36,57,58,59],[1.0,1.0,1.0,1.0,28000.0,100000.0,1.0])             |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,42000.0,500000.0,3.0]) |
|(60,[0,1,2,11,25,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,28994.0,300000.0,5.0])|
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,100000.0,5.0])             |
|(60,[1,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,33000.0,500000.0,5.0])             |
|(60,[0,1,2,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,31500.0,500000.0,5.0]) |
+-----------------------------------------------------------------------------+
only showing top 20 rows

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|featuresScal                                                                                                                                                                                               |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|(60,[1,3,23,28,57,58,59],[2.2856487135169283,2.151406607574553,2.1459841543097675,2.0515791324306103,0.008876252805645182,0.8482978404212576,2.4840551014212124])                                          |
|(60,[0,1,2,9,23,28,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,6.9440168245020235,2.1459841543097675,2.0515791324306103,0.01553344240987907,0.5655318936141717,0.9936220405684849]) |
|(60,[0,1,2,3,22,31,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,2.003493187053562,4.398948652456418,0.00998578440635083,1.696595680842515,1.9872440811369698])     |
|(60,[0,1,2,3,22,31,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,2.003493187053562,4.398948652456418,0.01553344240987907,2.8276594680708587,2.4840551014212124])    |
|(60,[0,1,2,3,22,34,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,2.003493187053562,7.869403804873646,0.04438126402822591,1.4138297340354293,0.9936220405684849])    |
|(60,[0,1,2,15,22,31,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,17.976018680655798,2.003493187053562,4.398948652456418,0.01997156881270166,0.8482978404212576,2.4840551014212124])  |
|(60,[1,3,22,29,57,58,59],[2.2856487135169283,2.151406607574553,2.003493187053562,2.0632697223018877,0.03106688481975814,1.696595680842515E-5,2.4840551014212124])                                          |
|(60,[0,1,2,3,22,30,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,2.003493187053562,3.902490422337664,0.008876252805645182,0.5655318936141717,2.4840551014212124])   |
|(60,[0,2,7,21,24,28,57],[2.0232009152959742,2.096488429133854,6.557238776318329,2.4007358063163506,2.6067576682413485,2.0515791324306103,0.03328594802116944])                                             |
|(60,[1,2,4,22,29,57,58,59],[2.2856487135169283,2.096488429133854,3.2240799153285913,2.003493187053562,2.0632697223018877,0.013314379208467774,0.8482978404212576,1.4904330608527274])                      |
|(60,[0,1,2,4,22,29,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,3.2240799153285913,2.003493187053562,2.0632697223018877,0.011095316007056478,2.8276594680708587,2.4840551014212124]) |
|(60,[1,3,22,28,57,58,59],[2.2856487135169283,2.151406607574553,2.003493187053562,2.0515791324306103,0.011095316007056478,0.3958723255299202,1.9872440811369698])                                           |
|(60,[1,3,22,29,57,58,59],[2.2856487135169283,2.151406607574553,2.003493187053562,2.0632697223018877,0.010651503366774218,1.4138297340354293,1.9872440811369698])                                           |
|(60,[0,1,2,8,22,29,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,6.60694831666162,2.003493187053562,2.0632697223018877,0.011982941287620997,0.5655318936141717,2.4840551014212124])   |
|(60,[1,3,22,36,57,58,59],[2.2856487135169283,2.151406607574553,2.003493187053562,10.539053857108854,0.012426753927903255,0.28276594680708583,0.49681102028424245])                                         |
|(60,[0,1,2,3,22,30,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,2.003493187053562,3.902490422337664,0.018640130891854883,1.4138297340354293,1.4904330608527274])   |
|(60,[0,1,2,11,25,28,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,9.618625909402677,7.8281043991413535,2.0515791324306103,0.012867903692343821,0.8482978404212576,2.4840551014212124])|
|(60,[1,3,22,28,57,58,59],[2.2856487135169283,2.151406607574553,2.003493187053562,2.0515791324306103,0.008876252805645182,0.28276594680708583,2.4840551014212124])                                          |
|(60,[1,3,25,29,57,58,59],[2.2856487135169283,2.151406607574553,7.8281043991413535,2.0632697223018877,0.01464581712931455,1.4138297340354293,2.4840551014212124])                                           |
|(60,[0,1,2,3,25,29,57,58,59],[2.0232009152959742,2.2856487135169283,2.096488429133854,2.151406607574553,7.8281043991413535,2.0632697223018877,0.013980098168891161,1.4138297340354293,2.4840551014212124]) |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [91]:
MMscaler = feature.MinMaxScaler(inputCol="featuresFull", outputCol="featuresScal")

In [92]:
MMscalerModel = MMscaler.fit(tmp3)

In [93]:
tmp3.select("featuresFull").show(truncate=False)
MMscalerModel.transform(tmp3).select("featuresScal").show(truncate=False)

+-----------------------------------------------------------------------------+
|featuresFull                                                                 |
+-----------------------------------------------------------------------------+
|(60,[1,3,23,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,300000.0,5.0])             |
|(60,[0,1,2,9,23,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,200000.0,2.0]) |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,22500.0,600000.0,4.0]) |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,1000000.0,5.0])|
|(60,[0,1,2,3,22,34,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,100000.0,500000.0,2.0])|
|(60,[0,1,2,15,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,45000.0,300000.0,5.0])|
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,70000.0,6.0,5.0])                  |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,20000.0,200000.0,5.0]) |
|(60,[0,2,7,21,24,28,57],[1.0,1.0,1.0,1.0,1.0,1.0,75000.0])                   |
|(60,[1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,30000.0,300000.0,3.0])       |
|(60,[0,1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,25000.0,1000000.0,5.0])|
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,25000.0,140000.0,4.0])             |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,24000.0,500000.0,4.0])             |
|(60,[0,1,2,8,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,27000.0,200000.0,5.0]) |
|(60,[1,3,22,36,57,58,59],[1.0,1.0,1.0,1.0,28000.0,100000.0,1.0])             |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,42000.0,500000.0,3.0]) |
|(60,[0,1,2,11,25,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,28994.0,300000.0,5.0])|
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,100000.0,5.0])             |
|(60,[1,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,33000.0,500000.0,5.0])             |
|(60,[0,1,2,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,31500.0,500000.0,5.0]) |
+-----------------------------------------------------------------------------+
only showing top 20 rows

+---------------------------------------------------------------------------------------------------------------------+
|featuresScal                                                                                                         |
+---------------------------------------------------------------------------------------------------------------------+
|(60,[1,3,23,28,57,58,59],[1.0,1.0,1.0,1.0,4.498886540202682E-5,0.03,0.5])                                            |
|(60,[0,1,2,9,23,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,7.873051445354693E-5,0.02,0.2])                                |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,5.0612473577280163E-5,0.06,0.4])                               |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,7.873051445354693E-5,0.09999999999999999,0.5])                 |
|(60,[0,1,2,3,22,34,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,2.2494432701013407E-4,0.049999999999999996,0.2])               |
|(60,[0,1,2,15,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,1.0122494715456033E-4,0.03,0.5])                              |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.5746102890709386E-4,6.0E-7,0.5])                                         |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,4.498886540202682E-5,0.02,0.5])                                |
|(60,[0,2,7,21,24,28,57],[1.0,1.0,1.0,1.0,1.0,1.0,1.6870824525760055E-4])                                             |
|(60,[1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,6.748329810304022E-5,0.03,0.30000000000000004])                      |
|(60,[0,1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,5.6236081752533516E-5,0.09999999999999999,0.5])                |
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,5.6236081752533516E-5,0.013999999999999999,0.4])                           |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,5.3986638482432175E-5,0.049999999999999996,0.4])                           |
|(60,[0,1,2,8,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,6.07349682927362E-5,0.02,0.5])                                 |
|(60,[1,3,22,36,57,58,59],[1.0,1.0,1.0,1.0,6.298441156283754E-5,0.01,0.1])                                            |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,9.447661734425632E-5,0.049999999999999996,0.30000000000000004])|
|(60,[0,1,2,11,25,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,6.522035817331828E-5,0.03,0.5])                               |
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,4.498886540202682E-5,0.01,0.5])                                            |
|(60,[1,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,7.423162791334425E-5,0.049999999999999996,0.5])                            |
|(60,[0,1,2,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,7.085746300819223E-5,0.049999999999999996,0.5])                |
+---------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

**PCA**

In [94]:
pca = feature.PCA(k=3, inputCol="featuresFull", outputCol="featuresPCA")

In [95]:
PCAmodel = pca.fit(tmp3)

In [96]:
PCAmodel.transform(tmp3).select("featuresFull", "featuresPCA").show(truncate=False)

+-----------------------------------------------------------------------------+------------------------------------------------------------+
|featuresFull                                                                 |featuresPCA                                                 |
+-----------------------------------------------------------------------------+------------------------------------------------------------+
|(60,[1,3,23,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,300000.0,5.0])             |[-20158.30434071145,-299989.4044364668,4.080184413672564]   |
|(60,[0,1,2,9,23,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,200000.0,2.0]) |[-35105.533210530804,-199981.50299475883,1.3703828477141546]|
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,22500.0,600000.0,4.0]) |[-22816.611117949764,-599988.0434381654,2.3364751336023284] |
|(60,[0,1,2,3,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,35000.0,1000000.0,5.0])|[-35527.68554465821,-999981.3916176226,2.1356377551430494]  |
|(60,[0,1,2,3,22,34,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,100000.0,500000.0,2.0])|[-100263.8312859731,-499947.16134836327,0.6748389236441557] |
|(60,[0,1,2,15,22,31,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,45000.0,300000.0,5.0])|[-45158.3008600015,-299976.21217642445,4.191879751901228]   |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,70000.0,6.0,5.0])                  |[-69999.99342012063,30.938314815720908,5.156064756185561]   |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,20000.0,200000.0,5.0]) |[-20105.535298948398,-199989.41836020665,4.485978375370379] |
|(60,[0,2,7,21,24,28,57],[1.0,1.0,1.0,1.0,1.0,1.0,75000.0])                   |[-74999.98955786278,39.57678194133829,-0.21603296396324376] |
|(60,[1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,30000.0,300000.0,3.0])       |[-30158.30294843321,-299984.12752698106,2.2799816109975217] |
|(60,[0,1,2,4,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,25000.0,1000000.0,5.0])|[-25527.68693694309,-999986.6685216771,2.1392153135940744]  |
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,25000.0,140000.0,4.0])             |[-25073.873177745194,-139986.78825926722,3.7253137547234]   |
|(60,[1,3,22,29,57,58,59],[1.0,1.0,1.0,1.0,24000.0,500000.0,4.0])             |[-24263.84186733378,-499987.26582589844,2.7067590639589527] |
|(60,[0,1,2,8,22,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,27000.0,200000.0,5.0]) |[-27105.53432434775,-199985.7245272188,4.492294372546313]   |
|(60,[1,3,22,36,57,58,59],[1.0,1.0,1.0,1.0,28000.0,100000.0,1.0])             |[-28052.76514336162,-99985.21074882966,0.9430411590849487]  |
|(60,[0,1,2,3,22,30,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,42000.0,500000.0,3.0]) |[-42263.83936122814,-499977.76739541645,1.6490361856238298] |
|(60,[0,1,2,11,25,28,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,28994.0,300000.0,5.0])|[-29152.303088496028,-299984.6583887916,4.043487095676891]  |
|(60,[1,3,22,28,57,58,59],[1.0,1.0,1.0,1.0,20000.0,100000.0,5.0])             |[-20052.766257177806,-99989.43228353177,4.819930078829688]  |
|(60,[1,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,33000.0,500000.0,5.0])             |[-33263.84061427296,-499982.51661461696,3.5655396750191777] |
|(60,[0,1,2,3,25,29,57,58,59],[1.0,1.0,1.0,1.0,1.0,1.0,31500.0,500000.0,5.0]) |[-31763.84082312047,-499983.3081501721,3.4975109500011796]  |
+-----------------------------------------------------------------------------+------------------------------------------------------------+
only showing top 20 rows

In [97]:
PCAmodel.explainedVariance

DenseVector([0.976, 0.024, 0.0])

In [98]:
rfModel = rf.fit(tmp2)

In [99]:
df_train = rfModel.transform(df_t)
df_eval = rfModel.transform(df_e)

In [100]:
scaler = feature.StandardScaler(inputCol="featuresFull", outputCol="features")
scal_mod = scaler.fit(df_train)
df_train = scal_mod.transform(df_train)
df_eval = scal_mod.transform(df_eval)

df_eval.show()

+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+--------------------+-----+--------------------+
|    City|Monthly_Income|      DOB|Lead_Creation_Date|Loan_Amount_Applied|Loan_Tenure_Applied|Existing_EMI|       Employer_Name|      Salary_Account|Mobile_Verified|Var5|Var1|Loan_Amount_Submitted|Loan_Tenure_Submitted|Interest_Rate|Processing_Fee|EMI_Loan_Submitted|Var2|Source|Var4|Disbursed|new_gender|new_Filled_Form|new_Device_Type|new_Mobile_Verified|        featuresFull|label|            features|
+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+--------------------+-----+--------------------+
|    null|         75000|27-Oct-88|         19-May-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|(60,[0,1,2,3,23,2...|  0.0|(60,[0,1,2,3,23,2...|
|    null|         75000|27-Oct-88|         19-May-15|                  0|                  0|         0.0|                   0|                null|              Y|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   G|  S122|   6|        0|         1|              0|              1|                  1|(60,[0,1,2,3,23,2...|  0.0|(60,[0,1,2,3,23,2...|
|  ADIPUR|         12000|10-Apr-92|         02-May-15|              60000|                  2|         0.0|    WELSPUN CORP LTD|          ICICI Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S122|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,28,57...|  0.0|(60,[1,3,22,28,57...|
|  ADIPUR|         12000|10-Apr-92|         02-May-15|              70000|                  3|         0.0|    WELSPUN CORP LTD|          ICICI Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S143|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,31,57...|  0.0|(60,[1,3,22,31,57...|
|  AHMEDB|         15500|29-Apr-93|         12-Jun-15|              20000|                  5|         0.0|INSURANCE INSTITU...|          ICICI Bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,30,57...|  0.0|(60,[1,3,22,30,57...|
|   ANJAR|         28500|24-Dec-86|         21-Jun-15|             200000|                  3|      2491.0|MKC INFRASTRUCTUR...|       Bank of India|              Y|   8|HAYT|               200000|                    3|        15.75|          4000|           7006.75|   B|  S133|   3|        0|         1|              0|              1|                  1|(60,[0,1,2,13,22,...|  0.0|(60,[0,1,2,13,22,...|
|   ANJAR|         28500|24-Dec-86|         21-Jun-15|             200000|                  3|      2491.0|MKC INFRASTRUCTUR...|       Bank of India|              Y|   8|HBXC|               210000|                    3|        18.25|          2100|           7618.37|   B|  S133|   5|        0|         1|              1|              1|                  1|(60,[0,1,2,4,21,2...|  0.0|(60,[0,1,2,4,21,2...|
|Adilabad|          6000|01-May-86|         12-Jun-15|             300000|                  5|         0.0|      BEDA THIRUMALA|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,29,57...|  0.0|(60,[1,3,22,29,57...|
|Adilabad|         10000|10-Jun-90|         13-Jun-15|             100000|                  3|      2000.0|  STAFFING CORPORATE|  Lakshmi Vilas bank|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,30,57...|  0.0|(60,[1,3,22,30,57...|
|Adilabad|         15000|10-Jun-90|         09-Jun-15|             100000|                  4|      2000.0|  STAFFING CORPORATE| State Bank of India|              Y|   1|HBXC|               100000|                    4|         20.0|          1000|           3043.04|   B|  S159|   4|        0|         1|              0|              1|                  1|(60,[0,1,2,4,22,3...|  0.0|(60,[0,1,2,4,22,3...|
|Adilabad|         15097|01-Aug-89|         08-Jun-15|             200000|                  2|         0.0|   KADIRI SATHYANAND|          ICICI Bank|              Y|   1|HBXX|               170000|                    2|          0.0|             0|               0.0|   B|  S159|   2|        0|         1|              0|              1|                  1|(60,[0,1,2,3,22,3...|  0.0|(60,[0,1,2,3,22,3...|
|Adilabad|         30000|10-Mar-91|         11-May-15|             500000|                  5|      7000.0|               SIDDU|State Bank of Hyd...|              Y|  10|HBXX|               500000|                    5|          0.0|             0|               0.0|   E|  S133|   3|        0|         1|              0|              1|                  1|(60,[0,1,2,3,25,2...|  0.0|(60,[0,1,2,3,25,2...|
|Adilabad|         33294|22-Dec-69|         20-Jun-15|             500000|                  5|     10000.0|   RAMAGIRI RAVINDER|                null|              N|   8|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S159|   3|        0|         0|              0|              1|                  0|(60,[1,3,22,30,57...|  0.0|(60,[1,3,22,30,57...|
|Adilabad|         40000|15-Jan-75|         27-May-15|             500000|                  5|      9000.0|M.VENKATA RAMAKRI...|          ICICI Bank|              Y|  10|HBXC|               500000|                    5|         20.0|          5000|          13246.94|   B|  S133|   4|        0|         1|              0|              1|                  1|(60,[0,1,2,4,22,2...|  0.0|(60,[0,1,2,4,22,2...|
|Adilabad|         48965|07-Feb-88|         03-Jun-15|             200000|                  1|         0.0|VERIZON DATA SERV...|           HDFC Bank|              Y|  11|HAXA|               200000|                    1|        13.99|          1980|          17956.48|   B|  S122|   5|        0|         0|              1|              1|                  1|(60,[1,2,6,21,22,...|  0.0|(60,[1,2,6,21,22,...|
|Adilabad|         48965|07-Feb-88|         31-May-15|             200000|                  1|      5000.0|   MANJULA CHINTHALA|           HDFC Bank|              Y|  11|HAXA|               200000|                    1|         24.0|          4000|          18911.92|   B|  S122|   5|        0|         0|              1|              1|                  1|(60,[1,2,6,21,22,...|  0.0|(60,[1,2,6,21,22,...|
|Adilabad|         50000|08-Dec-88|         19-May-15|             200000|                  1|         0.0|NALANDA JUNIOR CO...|                null|              Y|  11|HAXA|               200000|                    1|        16.75|          4000|          18217.23|   B|  S137|   5|        0|         1|              1|              1|                  1|(60,[0,1,2,6,21,2...|  0.0|(60,[0,1,2,6,21,2...|
|Adilabad|         53000|12-Dec-85|         05-Jun-15|             100000|                  2|         0.0|ASHA TRADECOM PVT...|          ICICI Bank|              Y|  11|HBXC|               100000|                    2|         20.0|          1000|           5089.58|   B|  S137|   5|        0|         1|              1|              1|                  1|(60,[0,1,2,4,21,2...|  0.0|(60,[0,1,2,4,21,2...|
|Agartala|          5000|25-Dec-94|         09-May-15|              50000|                  1|      1000.0|           UTTAM DEY| State Bank of India|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   B|  S133|   1|        0|         0|              0|              1|                  0|(60,[1,3,22,29,57...|  0.0|(60,[1,3,22,29,57...|
|Agartala|          7000|03-Sep-89|         07-May-15|             100000|                  4|      1500.0|    DIPANKAR BHOWMIK|                null|              N|   0|HBXX|                    0|                    0|          0.0|             0|               0.0|   E|  S133|   1|        0|         0|              0|              1|                  0|(60,[1,3,25,29,57...|  0.0|(60,[1,3,25,29,57...|
+--------+--------------+---------+------------------+-------------------+-------------------+------------+--------------------+--------------------+---------------+----+----+---------------------+---------------------+-------------+--------------+------------------+----+------+----+---------+----------+---------------+---------------+-------------------+--------------------+-----+--------------------+
only showing top 20 rows

In [101]:
num_cols = [c for c, t in df_t.dtypes if t != "string"]
categ_cols = [c for c, t in df_t.dtypes if t == "string" and c != "Disbursed"]
categ_cols_idx = [c + "Idx" for c in categ_cols]
categ_cols_vect = [c + "Vect" for c in categ_cols]

In [102]:
indexer = feature.StringIndexer(inputCol="Disbursed", outputCol="label1")
indexers = feature.StringIndexer(inputCols=categ_cols, outputCols=categ_cols_idx)
OHencoder = feature.OneHotEncoder(inputCols=categ_cols_idx, outputCols=categ_cols_vect)
vectAssembler = feature.VectorAssembler(inputCols = num_cols + categ_cols_vect, outputCol = "featuresRaw")
#scaler = feature.StandardScaler(inputCol="featuresRaw", outputCol="features")

In [103]:
pipe = Pipeline(stages=[indexer, indexers, OHencoder, vectAssembler, scaler])
pipeModel = pipe.fit(tmp3)

In [104]:
df_train = pipeModel.transform(tmp3)
df_eval = pipeModel.transform(tmp3)

In [ ]:
df_eval.show()

In [105]:
df_train = df_train.select("label", "features")
df_eval = df_eval.select("label", "features")

In [ ]:
print("Train:")
df_train.groupBy("label").count().show()
print("Eval:")
df_eval.groupBy("label").count().show()

In [107]:
df_train.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(60,[1,3,23,28,57...|
|  0.0|(60,[0,1,2,9,23,2...|
|  0.0|(60,[0,1,2,3,22,3...|
|  0.0|(60,[0,1,2,3,22,3...|
|  0.0|(60,[0,1,2,3,22,3...|
|  0.0|(60,[0,1,2,15,22,...|
|  0.0|(60,[1,3,22,29,57...|
|  0.0|(60,[0,1,2,3,22,3...|
|  0.0|(60,[0,2,7,21,24,...|
|  0.0|(60,[1,2,4,22,29,...|
|  0.0|(60,[0,1,2,4,22,2...|
|  0.0|(60,[1,3,22,28,57...|
|  0.0|(60,[1,3,22,29,57...|
|  0.0|(60,[0,1,2,8,22,2...|
|  0.0|(60,[1,3,22,36,57...|
|  0.0|(60,[0,1,2,3,22,3...|
|  0.0|(60,[0,1,2,11,25,...|
|  0.0|(60,[1,3,22,28,57...|
|  0.0|(60,[1,3,25,29,57...|
|  0.0|(60,[0,1,2,3,25,2...|
+-----+--------------------+
only showing top 20 rows

In [108]:
#REGRESJA LINIOWA

In [109]:
from pyspark.ml import classification

In [110]:
lr = classification.LogisticRegression(maxIter=1000)

In [111]:
lrModel = lr.fit(df_train)

In [112]:
lrModel.coefficients

DenseVector([0.1697, -0.0563, 0.2341, 0.8137, 0.2944, 0.0188, 0.3369, 0.4229, 0.307, 0.3599, 0.3713, 0.104, 0.1843, 0.0955, 0.1112, 0.1373, 0.0466, 0.0455, -3.6746, 0.061, -2.3379, 0.1917, -0.2612, -0.4866, -0.2366, -0.1025, -7.301, -0.0919, -0.2066, -0.4005, -0.3647, -0.1552, -0.247, -0.7104, -0.015, -0.2652, -0.1885, -0.1576, -0.2044, -4.9551, -0.1065, -0.1032, -2.3739, -0.0228, -1.664, -1.3544, 0.0158, -0.8366, -0.5732, -0.4834, -0.4913, -0.4597, -0.5082, -0.278, -0.2401, -0.2733, -0.2847, -0.0173, 0.0878, 0.3159])

In [113]:
lrModel.intercept

-5.541862780721203

In [114]:
trainingSummary = lrModel.summary
trainingSummary

In [115]:
trainingSummary.roc.show(120)

+--------------------+--------------------+
|                 FPR|                 TPR|
+--------------------+--------------------+
|                 0.0|                 0.0|
|0.005162563090876483|0.030405405405405407|
| 0.01044041915400579| 0.07179054054054054|
| 0.01648689503215393| 0.10641891891891891|
|0.022020957700289515| 0.12837837837837837|
|0.028003381927186082|  0.1554054054054054|
|0.035330890830365606| 0.18496621621621623|
| 0.04228690015628603| 0.20523648648648649|
| 0.04801311777817632| 0.22888513513513514|
| 0.05441828290333325|  0.2592905405405405|
| 0.06433347851707617| 0.29307432432432434|
| 0.07123824652199534| 0.30067567567567566|
| 0.07727191206989316| 0.31841216216216217|
| 0.08538085111834183| 0.34121621621621623|
| 0.09325920422228486| 0.35557432432432434|
| 0.09947221439368707|  0.3766891891891892|
| 0.11260280290025877|  0.3910472972972973|
| 0.11927698496067228| 0.40202702702702703|
| 0.12803925085188697| 0.41385135135135137|
| 0.13690399938510414| 0.43158783783783783|
| 0.14670390202659425| 0.44932432432432434|
| 0.15633727037483025|  0.4721283783783784|
| 0.16419000281827265|  0.4856418918918919|
| 0.17119725346519432| 0.49746621621621623|
|  0.1780123491583613|  0.5092905405405406|
| 0.19001562860290538|  0.5236486486486487|
|  0.1982782916143578|   0.535472972972973|
|  0.2066690579283134|  0.5430743243243243|
| 0.21641771924880224|  0.5472972972972973|
| 0.22414234838974148|  0.5591216216216216|
| 0.23353232046322153|  0.5675675675675675|
| 0.24152596653941738|  0.5768581081081081|
| 0.25019856011887986|  0.5853040540540541|
|  0.2594988598806077|  0.5962837837837838|
| 0.26797929850631547|  0.6140202702702703|
|  0.2746278599062284|  0.6258445945945946|
| 0.28163511055315005|   0.637668918918919|
| 0.28983372191335094|  0.6469594594594594|
|  0.2984038328508109|             0.65625|
| 0.31057364658860903|  0.6680743243243243|
| 0.31860572365555584|   0.668918918918919|
|  0.3253183367067203|  0.6790540540540541|
|  0.3334657067459199|  0.6858108108108109|
| 0.34441853910993825|  0.6908783783783784|
|  0.3540262867976736|   0.706081081081081|
| 0.36559401501370703|  0.7086148648648649|
|  0.3909712792395788|  0.7415540540540541|
|  0.3938279828853988|  0.7415540540540541|
| 0.41055827419230867|  0.7533783783783784|
| 0.43173375009607745|  0.7787162162162162|
|  0.4406369296200456|  0.7837837837837838|
| 0.45038559094053443|  0.7880067567567568|
| 0.45981399400476547|  0.7981418918918919|
| 0.46706464092644306|  0.8074324324324325|
| 0.47745381875944765|              0.8125|
|  0.5315134124157721|  0.8209459459459459|
|  0.5441700187030821|  0.8293918918918919|
|  0.5522789577515308|  0.8353040540540541|
|  0.5599267249109682|  0.8420608108108109|
|  0.5663575106966258|   0.847972972972973|
|  0.5740308985165637|  0.8547297297297297|
|  0.5812174937869898|  0.8614864864864865|
|   0.590287207604212|  0.8665540540540541|
|  0.6114242525172299|  0.8817567567567568|
|  0.6248494786195589|  0.8885135135135135|
|  0.6387102559503984|  0.8994932432432432|
|  0.6457046962670697|  0.9045608108108109|
|  0.6550818580102995|  0.9096283783783784|
|  0.6635751069662575|  0.9130067567567568|
|  0.6739514744690118|  0.9155405405405406|
|  0.6840972560272603|  0.9197635135135135|
|   0.696407983397812|  0.9273648648648649|
|   0.706899643872819|   0.933277027027027|
|  0.7156619097640338|  0.9425675675675675|
|   0.726243242550793|  0.9459459459459459|
|    0.73346826881197|  0.9484797297297297|
|  0.7471625118495555|  0.9484797297297297|
|  0.7540544695242243|  0.9510135135135135|
|   0.761958443288668|  0.9586148648648649|
|   0.771386846352899|  0.9628378378378378|
|  0.7794189234198458|  0.9670608108108109|
|  0.8056801004329892|  0.9670608108108109|
|  0.8235377008019267|  0.9670608108108109|
|  0.8345545848171966|  0.9712837837837838|
|  0.8434961953319157|   0.972972972972973|
|  0.8554482334554585|  0.9755067567567568|
|   0.865017550152443|  0.9797297297297297|
|  0.8751633317106915|  0.9805743243243243|
|  0.8846045451051728|  0.9847972972972973|
|  0.8928287771258743|  0.9856418918918919|
|   0.906612692475212|  0.9890202702702703|
|  0.9155543029899311|  0.9923986486486487|
|  0.9269042555917092|  0.9940878378378378|
|  0.9345264020906459|  0.9966216216216216|
|  0.9420460659475801|  0.9974662162162162|
|  0.9499628500422741|  0.9974662162162162|
|  0.9565986011119366|  0.9991554054054054|
|  0.9656426942686582|  0.9991554054054054|
|  0.9774025774384464|  0.9991554054054054|
|  0.9849991032768824|                 1.0|
|  0.9919038712818017|                 1.0|
|                 1.0|                 1.0|
|                 1.0|                 1.0|
+--------------------+--------------------+

In [116]:
trainingSummary.roc.toPandas()

          FPR       TPR
0    0.000000  0.000000
1    0.005163  0.030405
2    0.010440  0.071791
3    0.016487  0.106419
4    0.022021  0.128378
..        ...       ...
98   0.977403  0.999155
99   0.984999  1.000000
100  0.991904  1.000000
101  1.000000  1.000000
102  1.000000  1.000000

[103 rows x 2 columns]

In [117]:
trainingSummary.pr.show(120)

+--------------------+--------------------+
|              recall|           precision|
+--------------------+--------------------+
|                 0.0| 0.08200455580865604|
|0.030405405405405407| 0.08200455580865604|
| 0.07179054054054054| 0.09444444444444444|
| 0.10641891891891891| 0.08917197452229299|
| 0.12837837837837837| 0.08123997862105825|
|  0.1554054054054054| 0.07763713080168777|
| 0.18496621621621623| 0.07356399059455827|
| 0.20523648648648649|  0.0685665914221219|
| 0.22888513513513514| 0.06742970888280667|
|  0.2592905405405405| 0.06739846322722283|
| 0.29307432432432434| 0.06463028496926802|
| 0.30067567567567566| 0.06016562447186074|
| 0.31841216216216217|0.058823529411764705|
| 0.34121621621621623|0.057150940727118404|
| 0.35557432432432434|0.054668224905856384|
|  0.3766891891891892| 0.05431737912556327|
|  0.3910472972972973|0.050037825570085376|
| 0.40202702702702703|  0.0486359456421784|
| 0.41385135135135137| 0.04673342870767763|
| 0.43158783783783783|0.045633148776567246|
| 0.44932432432432434| 0.04439252336448598|
|  0.4721283783783784| 0.04379847998119565|
|  0.4856418918918919|0.042936081242532856|
| 0.49746621621621623|  0.0422131441267111|
|  0.5092905405405406| 0.04158907510862818|
|  0.5236486486486487|0.040121659224746004|
|   0.535472972972973| 0.03934955312810328|
|  0.5430743243243243| 0.03832856461611826|
|  0.5472972972972973| 0.03693991563105689|
|  0.5591216216216216|0.036455751968720744|
|  0.5675675675675675|0.035551793461009416|
|  0.5768581081081081| 0.03495930797973077|
|  0.5853040540540541| 0.03426621835443038|
|  0.5962837837837838|0.033678385727233695|
|  0.6140202702702703|  0.0335858819181373|
|  0.6258445945945946| 0.03340998241579873|
|   0.637668918918919|0.033201407211961305|
|  0.6469594594594594| 0.03274763798041982|
|             0.65625| 0.03227950646005567|
|  0.6680743243243243| 0.03159576592770122|
|   0.668918918918919|0.030861551650235748|
|  0.6790540540540541| 0.03068819420588572|
|  0.6858108108108109| 0.03024997205975487|
|  0.6908783783783784|0.029526422177302915|
|   0.706081081081081| 0.02936218038774937|
|  0.7086148648648649|0.028558785485737627|
|  0.7415540540540541|0.027963564558252118|
|  0.7415540540540541| 0.02776635780019607|
|  0.7533783783783784|0.027078716493124072|
|  0.7787162162162162|0.026628927911275416|
|  0.7837837837837838| 0.02627034677990092|
|  0.7880067567567568| 0.02585132027375246|
|  0.7981418918918919| 0.02565216211080648|
|  0.8074324324324325|0.025550566602522983|
|              0.8125|0.025161509690581434|
|  0.8209459459459459| 0.02289051644961496|
|  0.8293918918918919| 0.02259497020317066|
|  0.8353040540540541| 0.02242579533343915|
|  0.8420608108108109|0.022301257101954994|
|   0.847972972972973|0.022205020457812672|
|  0.8547297297297297|0.022085461132207235|
|  0.8614864864864865|0.021987023345045376|
|  0.8665540540540541|0.021781127268867422|
|  0.8817567567567568|0.021405285711356692|
|  0.8885135135135135|0.021112203736779786|
|  0.8994932432432432|0.020913518183960412|
|  0.9045608108108109| 0.02080581241743725|
|  0.9096283783783784| 0.02062665185582411|
|  0.9130067567567568|0.020442124770711598|
|  0.9155405405405406| 0.02018847543487168|
|  0.9197635135135135| 0.01998495164339065|
|  0.9273648648648649| 0.01979769567804403|
|   0.933277027027027|0.019631531259438235|
|  0.9425675675675675|0.019585132146993787|
|  0.9459459459459459| 0.01937314052445859|
|  0.9484797297297297|0.019236369242364548|
|  0.9484797297297297|0.018890458888440317|
|  0.9510135135135135|0.018770107853106403|
|  0.9586148648648649|0.018724738101130085|
|  0.9628378378378378| 0.01858008996675142|
|  0.9670608108108109|0.018471317029102405|
|  0.9670608108108109| 0.01788000874480777|
|  0.9670608108108109|  0.0174990830174838|
|  0.9712837837837838|0.017346184593571352|
|   0.972972972972973|0.017194799767153754|
|  0.9755067567567568|0.017002046133690548|
|  0.9797297297297297|0.016888694765960544|
|  0.9805743243243243|0.016710325570684244|
|  0.9847972972972973|0.016604955853033322|
|  0.9856418918918919|0.016468396765589942|
|  0.9890202702702703| 0.01627677466883505|
|  0.9923986486486487|0.016174547456810517|
|  0.9940878378378378|0.016006418886758328|
|  0.9966216216216216|0.015917767195909944|
|  0.9974662162162162| 0.01580588605307887|
|  0.9974662162162162|0.015676228148187477|
|  0.9991554054054054|0.015595132947519675|
|  0.9991554054054054|0.015451327664798923|
|  0.9991554054054054|0.015268259315186949|
|                 1.0|0.015164905539545309|
|                 1.0|0.015060930623044241|
|                 1.0|0.014940817202130075|
+--------------------+--------------------+

In [118]:
trainingSummary.areaUnderROC

0.7426757531868292

In [119]:
trainingSummary.accuracy

0.9850465638644221

In [120]:
trainingSummary.predictions.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(60,[1,3,23,28,57...|[4.52893029620545...|[0.98932301394928...|       0.0|
|  0.0|(60,[0,1,2,9,23,2...|[3.44250890370919...|[0.96900695316251...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[3.51551344611666...|[0.97112596521096...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[3.25936071318807...|[0.96300802376454...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[3.29031707276910...|[0.96409513143118...|       0.0|
|  0.0|(60,[0,1,2,15,22,...|[2.71518286695016...|[0.93791662776904...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[4.48528041771132...|[0.98885195428468...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[4.19825877845019...|[0.98520060207913...|       0.0|
|  0.0|(60,[0,2,7,21,24,...|[2.51572044705789...|[0.92523655980222...|       0.0|
|  0.0|(60,[1,2,4,22,29,...|[5.03511124699594...|[0.99353657329468...|       0.0|
|  0.0|(60,[0,1,2,4,22,2...|[4.20412315125874...|[0.98528586398982...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[4.20476269442433...|[0.98529513297309...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[4.51778787813863...|[0.98920467272013...|       0.0|
|  0.0|(60,[0,1,2,8,22,2...|[3.32361655838521...|[0.96523017080841...|       0.0|
|  0.0|(60,[1,3,22,36,57...|[6.24819075017017...|[0.99806978297165...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[4.43789481216887...|[0.98831730146871...|       0.0|
|  0.0|(60,[0,1,2,11,25,...|[4.20318022546858...|[0.98527218754322...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[4.05768773604055...|[0.98300487825476...|       0.0|
|  0.0|(60,[1,3,25,29,57...|[4.63970530332493...|[0.99043188902011...|       0.0|
|  0.0|(60,[0,1,2,3,25,2...|[3.80570957964808...|[0.97824059522508...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [121]:
svm = classification.LinearSVC(maxIter=1000)

In [122]:
svmModel = svm.fit(df_train)

In [123]:
svmModel.coefficients

DenseVector([0.0135, -0.0586, -0.126, -0.1923, -0.0549, -0.0369, -0.0323, -0.027, -0.0268, -0.0255, -0.0229, -0.0184, -0.0163, -0.0134, -0.012, -0.0098, -0.0091, -0.0086, -0.0081, -0.0062, -0.0052, -0.0001, -0.0475, -0.0995, -0.0874, -0.0122, -0.0174, -0.0188, -0.0943, -0.0869, -0.0459, -0.0407, -0.0276, -0.0262, -0.0228, -0.0178, -0.017, -0.0162, -0.0141, -0.0132, -0.011, -0.0092, -0.0064, -0.0048, -0.0041, -0.0033, -0.0021, -0.0021, -0.0015, -0.0028, -0.0012, -0.0033, -0.0011, -0.001, -0.0015, -0.0008, -0.0008, 0.0, -0.0, 0.0005])

In [124]:
svmModel.intercept

-0.17921073436598828

In [125]:
svmModel.transform(df_eval).show()

+-----+--------------------+--------------------+----------+
|label|            features|       rawPrediction|prediction|
+-----+--------------------+--------------------+----------+
|  0.0|(60,[1,3,23,28,57...|[1.13266117198462...|       0.0|
|  0.0|(60,[0,1,2,9,23,2...|[1.13323515354294...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[1.23710325623638...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[1.23686512553237...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[1.23758211818126...|       0.0|
|  0.0|(60,[0,1,2,15,22,...|[1.00000466269413...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[1.00000571439930...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[1.23688388784783...|       0.0|
|  0.0|(60,[0,2,7,21,24,...|[1.01421686134092...|       0.0|
|  0.0|(60,[1,2,4,22,29,...|[1.02783488622622...|       0.0|
|  0.0|(60,[0,1,2,4,22,2...|[1.00001111983164...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[1.01445984616857...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[1.00024592495157...|       0.0|
|  0.0|(60,[0,1,2,8,22,2...|[0.99999332035832...|       0.0|
|  0.0|(60,[1,3,22,36,57...|[1.00106736149065...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[1.23736265240405...|       0.0|
|  0.0|(60,[0,1,2,11,25,...|[1.01421876086860...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[1.01422071363018...|       0.0|
|  0.0|(60,[1,3,25,29,57...|[1.00000775312967...|       0.0|
|  0.0|(60,[0,1,2,3,25,2...|[1.23686689044386...|       0.0|
+-----+--------------------+--------------------+----------+
only showing top 20 rows

DRZEWO DECYZYJNE

In [126]:
tree = classification.DecisionTreeClassifier()

In [127]:
treeModel = tree.fit(df_train)

In [128]:
treeModel.depth

5

In [129]:
treeModel.numNodes

15

In [130]:
print(treeModel.toDebugString)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_8c87164e2d4c, depth=5, numNodes=15, numClasses=2, numFeatures=60
  If (feature 57 <= 0.015542318662684716)
   Predict: 0.0
  Else (feature 57 > 0.015542318662684716)
   If (feature 33 <= 3.4273897943968925)
    If (feature 21 <= 1.2003679031581753)
     Predict: 0.0
    Else (feature 21 > 1.2003679031581753)
     If (feature 59 <= 0.7452165304263637)
      Predict: 0.0
     Else (feature 59 > 0.7452165304263637)
      If (feature 1 <= 1.1428243567584642)
       Predict: 1.0
      Else (feature 1 > 1.1428243567584642)
       Predict: 0.0
   Else (feature 33 > 3.4273897943968925)
    If (feature 57 <= 0.04848653095083681)
     Predict: 0.0
    Else (feature 57 > 0.04848653095083681)
     If (feature 59 <= 2.235649591279091)
      Predict: 0.0
     Else (feature 59 > 2.235649591279091)
      Predict: 1.0

RANDOM FORREST

In [131]:
forest = classification.RandomForestClassifier()

In [132]:
forestModel = forest.fit(df_train)

In [133]:
forestModel.featureImportances

SparseVector(60, {0: 0.0091, 1: 0.0175, 2: 0.0317, 3: 0.0191, 4: 0.017, 5: 0.0242, 6: 0.004, 7: 0.0368, 8: 0.0217, 9: 0.0196, 10: 0.0911, 15: 0.0102, 21: 0.0729, 22: 0.0028, 24: 0.0407, 25: 0.0667, 26: 0.0011, 27: 0.0179, 30: 0.004, 34: 0.0133, 43: 0.0034, 46: 0.0347, 57: 0.1807, 58: 0.1422, 59: 0.1177})

In [134]:
print(forestModel.toDebugString)

RandomForestClassificationModel: uid=RandomForestClassifier_2ef3c5cdcd12, numTrees=20, numClasses=2, numFeatures=60
  Tree 0 (weight 1.0):
    If (feature 59 <= 1.7388385709948486)
     Predict: 0.0
    Else (feature 59 > 1.7388385709948486)
     If (feature 7 <= 3.2786193881591643)
      If (feature 4 <= 1.6120399576642956)
       If (feature 10 <= 3.85683737342877)
        Predict: 0.0
       Else (feature 10 > 3.85683737342877)
        If (feature 58 <= 5.655318936141717E-6)
         Predict: 1.0
        Else (feature 58 > 5.655318936141717E-6)
         Predict: 0.0
      Else (feature 4 > 1.6120399576642956)
       Predict: 0.0
     Else (feature 7 > 3.2786193881591643)
      Predict: 0.0
  Tree 1 (weight 1.0):
    Predict: 0.0
  Tree 2 (weight 1.0):
    If (feature 34 <= 3.934701902436823)
     Predict: 0.0
    Else (feature 34 > 3.934701902436823)
     If (feature 57 <= 0.015963053045672297)
      If (feature 7 <= 3.2786193881591643)
       Predict: 0.0
      Else (feature 7 > 3.2786193881591643)
       If (feature 0 <= 1.0116004576479871)
        Predict: 0.0
       Else (feature 0 > 1.0116004576479871)
        If (feature 57 <= 0.013302174360860012)
         Predict: 1.0
        Else (feature 57 > 0.013302174360860012)
         Predict: 0.0
     Else (feature 57 > 0.015963053045672297)
      Predict: 0.0
  Tree 3 (weight 1.0):
    If (feature 21 <= 1.2003679031581753)
     Predict: 0.0
    Else (feature 21 > 1.2003679031581753)
     If (feature 5 <= 2.3978760872560727)
      If (feature 46 <= 42.44140382721147)
       Predict: 0.0
      Else (feature 46 > 42.44140382721147)
       If (feature 58 <= 0.29549041441340473)
        Predict: 0.0
       Else (feature 58 > 0.29549041441340473)
        Predict: 1.0
     Else (feature 5 > 2.3978760872560727)
      Predict: 0.0
  Tree 4 (weight 1.0):
    If (feature 15 <= 8.988009340327899)
     Predict: 0.0
    Else (feature 15 > 8.988009340327899)
     If (feature 25 <= 3.9140521995706767)
      Predict: 0.0
     Else (feature 25 > 3.9140521995706767)
      Predict: 1.0
  Tree 5 (weight 1.0):
    If (feature 8 <= 3.30347415833081)
     If (feature 46 <= 42.44140382721147)
      Predict: 0.0
     Else (feature 46 > 42.44140382721147)
      If (feature 59 <= 1.2420275507106062)
       If (feature 6 <= 2.7371463049759646)
        If (feature 59 <= 0.24840551014212123)
         Predict: 0.0
        Else (feature 59 > 0.24840551014212123)
         Predict: 1.0
       Else (feature 6 > 2.7371463049759646)
        Predict: 0.0
      Else (feature 59 > 1.2420275507106062)
       Predict: 0.0
    Else (feature 8 > 3.30347415833081)
     Predict: 0.0
  Tree 6 (weight 1.0):
    If (feature 57 <= 0.014878818765462737)
     If (feature 7 <= 3.2786193881591643)
      Predict: 0.0
     Else (feature 7 > 3.2786193881591643)
      If (feature 59 <= 2.235649591279091)
       Predict: 0.0
      Else (feature 59 > 2.235649591279091)
       If (feature 58 <= 0.5938084882948802)
        If (feature 57 <= 0.012423203426780997)
         Predict: 0.0
        Else (feature 57 > 0.012423203426780997)
         Predict: 1.0
       Else (feature 58 > 0.5938084882948802)
        Predict: 0.0
    Else (feature 57 > 0.014878818765462737)
     Predict: 0.0
  Tree 7 (weight 1.0):
    Predict: 0.0
  Tree 8 (weight 1.0):
    Predict: 0.0
  Tree 9 (weight 1.0):
    Predict: 0.0
  Tree 10 (weight 1.0):
    If (feature 2 <= 1.048244214566927)
     Predict: 0.0
    Else (feature 2 > 1.048244214566927)
     If (feature 59 <= 0.24840551014212123)
      Predict: 0.0
     Else (feature 59 > 0.24840551014212123)
      If (feature 21 <= 1.2003679031581753)
       Predict: 0.0
      Else (feature 21 > 1.2003679031581753)
       If (feature 59 <= 2.235649591279091)
        Predict: 0.0
       Else (feature 59 > 2.235649591279091)
        If (feature 1 <= 1.1428243567584642)
         Predict: 1.0
        Else (feature 1 > 1.1428243567584642)
         Predict: 0.0
  Tree 11 (weight 1.0):
    If (feature 58 <= 0.5938084882948802)
     Predict: 0.0
    Else (feature 58 > 0.5938084882948802)
     If (feature 24 <= 1.3033788341206742)
      Predict: 0.0
     Else (feature 24 > 1.3033788341206742)
      If (feature 7 <= 3.2786193881591643)
       If (feature 57 <= 0.03040116585933475)
        If (feature 3 <= 1.0757033037872765)
         Predict: 1.0
        Else (feature 3 > 1.0757033037872765)
         Predict: 0.0
       Else (feature 57 > 0.03040116585933475)
        Predict: 1.0
      Else (feature 7 > 3.2786193881591643)
       Predict: 0.0
  Tree 12 (weight 1.0):
    If (feature 58 <= 0.32376700909411327)
     Predict: 0.0
    Else (feature 58 > 0.32376700909411327)
     If (feature 59 <= 0.7452165304263637)
      If (feature 24 <= 1.3033788341206742)
       Predict: 0.0
      Else (feature 24 > 1.3033788341206742)
       Predict: 1.0
     Else (feature 59 > 0.7452165304263637)
      Predict: 0.0
  Tree 13 (weight 1.0):
    If (feature 1 <= 1.1428243567584642)
     Predict: 0.0
    Else (feature 1 > 1.1428243567584642)
     If (feature 21 <= 1.2003679031581753)
      Predict: 0.0
     Else (feature 21 > 1.2003679031581753)
      If (feature 4 <= 1.6120399576642956)
       If (feature 0 <= 1.0116004576479871)
        Predict: 0.0
       Else (feature 0 > 1.0116004576479871)
        If (feature 27 <= 6.055531672071067)
         Predict: 0.0
        Else (feature 27 > 6.055531672071067)
         Predict: 1.0
      Else (feature 4 > 1.6120399576642956)
       Predict: 0.0
  Tree 14 (weight 1.0):
    Predict: 0.0
  Tree 15 (weight 1.0):
    If (feature 9 <= 3.4720084122510118)
     If (feature 10 <= 3.85683737342877)
      Predict: 0.0
     Else (feature 10 > 3.85683737342877)
      If (feature 59 <= 1.7388385709948486)
       Predict: 0.0
      Else (feature 59 > 1.7388385709948486)
       If (feature 22 <= 1.001746593526781)
        Predict: 0.0
       Else (feature 22 > 1.001746593526781)
        If (feature 58 <= 5.655318936141717E-6)
         Predict: 1.0
        Else (feature 58 > 5.655318936141717E-6)
         Predict: 0.0
    Else (feature 9 > 3.4720084122510118)
     Predict: 0.0
  Tree 16 (weight 1.0):
    If (feature 7 <= 3.2786193881591643)
     If (feature 59 <= 0.7452165304263637)
      If (feature 43 <= 18.649824832043745)
       Predict: 0.0
      Else (feature 43 > 18.649824832043745)
       If (feature 57 <= 0.013302174360860012)
        Predict: 0.0
       Else (feature 57 > 0.013302174360860012)
        Predict: 1.0
     Else (feature 59 > 0.7452165304263637)
      If (feature 2 <= 1.048244214566927)
       Predict: 0.0
      Else (feature 2 > 1.048244214566927)
       If (feature 10 <= 3.85683737342877)
        If (feature 46 <= 42.44140382721147)
         Predict: 0.0
        Else (feature 46 > 42.44140382721147)
         Predict: 1.0
       Else (feature 10 > 3.85683737342877)
        Predict: 0.0
    Else (feature 7 > 3.2786193881591643)
     If (feature 57 <= 0.05536562687521183)
      If (feature 0 <= 1.0116004576479871)
       If (feature 30 <= 1.951245211168832)
        Predict: 0.0
       Else (feature 30 > 1.951245211168832)
        If (feature 59 <= 0.24840551014212123)
         Predict: 0.0
        Else (feature 59 > 0.24840551014212123)
         Predict: 1.0
      Else (feature 0 > 1.0116004576479871)
       If (feature 26 <= 5.612489772160812)
        If (feature 58 <= 2.829073297804894)
         Predict: 0.0
        Else (feature 58 > 2.829073297804894)
         Predict: 1.0
       Else (feature 26 > 5.612489772160812)
        Predict: 0.0
     Else (feature 57 > 0.05536562687521183)
      Predict: 0.0
  Tree 17 (weight 1.0):
    If (feature 10 <= 3.85683737342877)
     If (feature 59 <= 0.7452165304263637)
      If (feature 57 <= 0.013749315595944387)
       Predict: 0.0
      Else (feature 57 > 0.013749315595944387)
       If (feature 43 <= 18.649824832043745)
        Predict: 0.0
       Else (feature 43 > 18.649824832043745)
        If (feature 57 <= 0.02119205357347787)
         Predict: 0.0
        Else (feature 57 > 0.02119205357347787)
         Predict: 1.0
     Else (feature 59 > 0.7452165304263637)
      Predict: 0.0
    Else (feature 10 > 3.85683737342877)
     Predict: 0.0
  Tree 18 (weight 1.0):
    Predict: 0.0
  Tree 19 (weight 1.0):
    Predict: 0.0

Naiwny Bayes

In [137]:
bayes = classification.NaiveBayes()

In [138]:
bayesModel = bayes.fit(df_train)

In [ ]:
PREDYKCJE

In [135]:

treeModel.transform(df_eval).show()

+-----+--------------------+---------------+--------------------+----------+
|label|            features|  rawPrediction|         probability|prediction|
+-----+--------------------+---------------+--------------------+----------+
|  0.0|(60,[1,3,23,28,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,9,23,2...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[15881.0,574.0]|[0.96511698571862...|       0.0|
|  0.0|(60,[0,1,2,15,22,...|[15881.0,574.0]|[0.96511698571862...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[15881.0,574.0]|[0.96511698571862...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,2,7,21,24,...| [2315.0,112.0]|[0.95385249278945...|       0.0|
|  0.0|(60,[1,2,4,22,29,...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,4,22,2...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,8,22,2...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[1,3,22,36,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[15881.0,574.0]|[0.96511698571862...|       0.0|
|  0.0|(60,[0,1,2,11,25,...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[1,3,25,29,57...|[56476.0,322.0]|[0.99433078629529...|       0.0|
|  0.0|(60,[0,1,2,3,25,2...|[56476.0,322.0]|[0.99433078629529...|       0.0|
+-----+--------------------+---------------+--------------------+----------+
only showing top 20 rows

In [136]:
forestModel.transform(df_eval).show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(60,[1,3,23,28,57...|[19.7009913821294...|[0.98504956910647...|       0.0|
|  0.0|(60,[0,1,2,9,23,2...|[19.6356305875425...|[0.98178152937712...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[19.6806361109751...|[0.98403180554875...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[19.6489318135976...|[0.98244659067988...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[19.5569498156255...|[0.97784749078127...|       0.0|
|  0.0|(60,[0,1,2,15,22,...|[19.6291488309325...|[0.98145744154662...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[19.6966208583458...|[0.98483104291729...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[19.6955195246363...|[0.98477597623181...|       0.0|
|  0.0|(60,[0,2,7,21,24,...|[19.6238707295942...|[0.98119353647971...|       0.0|
|  0.0|(60,[1,2,4,22,29,...|[19.6885821754141...|[0.98442910877070...|       0.0|
|  0.0|(60,[0,1,2,4,22,2...|[19.6868332876144...|[0.98434166438072...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[19.7158747957906...|[0.98579373978953...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[19.7009913821294...|[0.98504956910647...|       0.0|
|  0.0|(60,[0,1,2,8,22,2...|[19.6764016731072...|[0.98382008365536...|       0.0|
|  0.0|(60,[1,3,22,36,57...|[19.7522206992581...|[0.98761103496290...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[19.6568778780366...|[0.98284389390183...|       0.0|
|  0.0|(60,[0,1,2,11,25,...|[19.6806361109751...|[0.98403180554875...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[19.7283251557233...|[0.98641625778616...|       0.0|
|  0.0|(60,[1,3,25,29,57...|[19.7009913821294...|[0.98504956910647...|       0.0|
|  0.0|(60,[0,1,2,3,25,2...|[19.6806361109751...|[0.98403180554875...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [139]:
bayesModel.transform(df_eval).show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(60,[1,3,23,28,57...|[-32.367599319720...|[0.99465476100842...|       0.0|
|  0.0|(60,[0,1,2,9,23,2...|[-65.376974671808...|[0.03767536752379...|       1.0|
|  0.0|(60,[0,1,2,3,22,3...|[-55.279786923082...|[0.95319274609915...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[-60.252236854786...|[0.93751479254097...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[-71.417918611679...|[0.12952716212952...|       1.0|
|  0.0|(60,[0,1,2,15,22,...|[-150.55748060802...|[9.24402237742013...|       1.0|
|  0.0|(60,[1,3,22,29,57...|[-28.813951492051...|[0.99288125040321...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[-50.350442208693...|[0.99933938545627...|       0.0|
|  0.0|(60,[0,2,7,21,24,...|[-64.340401419747...|[0.01176899179267...|       1.0|
|  0.0|(60,[1,2,4,22,29,...|[-41.003996561294...|[0.99639681301708...|       0.0|
|  0.0|(60,[0,1,2,4,22,2...|[-55.212714237209...|[0.99172075644047...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[-28.523505679912...|[0.99316122250787...|       0.0|
|  0.0|(60,[1,3,22,29,57...|[-31.846427941697...|[0.99091269324630...|       0.0|
|  0.0|(60,[0,1,2,8,22,2...|[-66.313312764659...|[0.49506766183462...|       1.0|
|  0.0|(60,[1,3,22,36,57...|[-71.588506146209...|[0.99999994290560...|       0.0|
|  0.0|(60,[0,1,2,3,22,3...|[-50.438437574715...|[0.99929774664311...|       0.0|
|  0.0|(60,[0,1,2,11,25,...|[-116.44797241487...|[0.99949605095237...|       0.0|
|  0.0|(60,[1,3,22,28,57...|[-29.486478700824...|[0.99290810528469...|       0.0|
|  0.0|(60,[1,3,25,29,57...|[-65.041443775956...|[0.99366816449011...|       0.0|
|  0.0|(60,[0,1,2,3,25,2...|[-75.393938621379...|[0.98946381378882...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

**ACCURANCY**

In [140]:
def calculate_acc(df, label="label", prediction="prediction"):
    temp = df.select(f.when(df[label] == df[prediction], 1).otherwise(0).alias("same"))
    return temp.select(f.avg("same")).collect()[0][0]

In [145]:
ac_lr = calculate_acc(lrModel.transform(df_eval))
ac_lr

0.9850465638644221

In [147]:
ac_bayes = calculate_acc(bayesModel.transform(df_eval))
ac_bayes

0.9058248996794791

In [148]:
ac_forest = calculate_acc(forestModel.transform(df_eval))
ac_forest

0.98505918279787

In [149]:
ac_tree = calculate_acc(treeModel.transform(df_eval))
ac_tree

0.9850844206647654

In [154]:
wynik = spark.createDataFrame([Row(metoda='Regresja_Liniowa', accuracy=ac_lr),
                                  Row(metoda='Naiwny_Bayes', accuracy=ac_bayes),
                                  Row(metoda='Las_Losowy', accuracy=ac_forest),
                                  Row(metoda='Drzewo_decyzyjne', accuracy=ac_tree)])
wynik

DataFrame[metoda: string, accuracy: double]

In [155]:
wynik.show()

+----------------+------------------+
|          metoda|          accuracy|
+----------------+------------------+
|Regresja_Liniowa|0.9850465638644221|
|    Naiwny_Bayes|0.9058248996794791|
|      Las_Losowy|  0.98505918279787|
|Drzewo_decyzyjne|0.9850844206647654|
+----------------+------------------+

In [156]:
wynik.toPandas()

             metoda  accuracy
0  Regresja_Liniowa  0.985047
1      Naiwny_Bayes  0.905825
2        Las_Losowy  0.985059
3  Drzewo_decyzyjne  0.985084

**Wniosek:**
najlepszym modelem jest las losowy. W tej metodzi mamy najwyższe accuracy oraz najtrafniej przewiduje grupę, której udzielono pożyczkę.Można jeszcze poprawić parametry przy użyciu funkcji *tuning*